.club-badge {
	width: 20px;
	object-fit: cover;
}

.club-badge-td {
	/* display: flex;
	justify-content: center;
	align-items: center; */
}

.club-name {
	text-align: left;
	/* padding-right: 3em; */
}

tr.position-data {
	border-bottom: 1px solid ;
}

td {
	text-align: center;
	border-bottom: 1px solid var(--gray);
}