.fixture-details {
	color: #fff;
	/* background-color: rgb(48, 49, 52); */
	/* margin-bottom: 1em; */
}



.heading-text {
	color: #bdc1c6;
}

.body-text {
	color: #9aa0a6;
}

.fixture-detail {
	margin: 0 auto;
	padding: 1em 2em;
	max-width: 620px;
	background-color: #202124;
}

.fixture-link {
	margin-bottom: 1em;
	color:#9aa0a6;
}

.fixture-status {
	display: inline-block;
	font-size: .75rem;
	margin-left: auto;
}

.fixture-detail-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1em 0;
}

.fixture-score {
	font-size: 2rem;
}

.badge-stats {
	width: 30px;
}

.fixture-teams {
	display: flex;
	justify-content: space-around;
	margin-bottom: 1em;
}

.fixture-home-team,
.fixture-away-team {
	text-align: center;
}

.fixture-team-badge {
	width: 48px;
	height: 48px;
}

.fixture-score {
	align-self: center;
}

.fixture-goals {
	display: flex;
	justify-content: space-between;
	font-size: .75rem;
}

.fixture-goals {
	margin-bottom: 1em;
}