.line-teams {
	display: flex;
	justify-content: center;
	align-items: center;
}

.lineup-team-name {
	display: inline-block;
	
}

.lineup-team-name > span {
	font-size: .75rem;
}

.lineup-team-logo {
	width: 36px;
}

.lineup-title {
	text-transform: uppercase;
}
