:root {
	--red: #C8102E;
	--blue: #1a388e;
	--gray: gray;
	--dk-gray: #202124;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.transition-fade {
	opacity: 1;
	transition: 250ms;
}

html.is-animating .transition {
	opacity: 0;
}




